@using Week1.ViewModel

@model LoginVM

@{
    ViewData["Title"] = "Login";
}

<style>
    .login-container {
        margin-top: calc(50vh - 192px);
    }
</style>

<div class="container d-flex justify-content-center align-items-start min-vh-100 login-container">
    <div class="col-md-4 card p-3">
        <h2 class="text-center text-info">Login</h2>
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input asp-for="RememberMe" class="form-check-input" type="checkbox" />
                <label asp-for="RememberMe" class="form-check-label"></label>
            </div>
            <div class="row">
                <div class="col-8">
                    <a asp-action="Register" class="text-decoration-none float-start mt-2">Don't have an account?</a>
                </div>
                <div class="col-4 text-end">
                    <input type="submit" value="Login" class="btn btn-primary btn-sm" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
